@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");

/*base styles */
body {
  align-items: center;
  font-family: "Urbanist";
  margin: 0 auto;
  color: #000;
  max-width: 80%;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar h1 {
  font-size: 2em;
}

.navbar .links {
  margin-left: auto;
}
.navbar a {
  padding: 1em;
  text-decoration: none;
  color: #000;
}

.navbar a:hover {
  color: chocolate;
}

/*project-preview */
.project-preview {
  padding: 10px 16px;
  margin: 0 auto;
  text-align: left;
}

.project-preview a {
  text-decoration: none;
  color: #000;
}

.project-preview:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

/*project details*/
.project-details {
  text-align: left;
}

.project-details div {
  max-width: 70%;
}
.project-details h2 {
  font-size: 25px;
  color: #0b3411;
}

.project-details div {
  margin: 20px 0;
}

/*create new project*/
.create {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.create label {
  font-size: 20px;
  padding: 10px;
  display: block;
  text-align: left;
}

.create h2 {
  font-size: 25px;
  color: #0b3411;
}

.create textarea {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(148, 180, 173);
}

.create button,
.project-details button {
  background: #0b3411;
  border: 0;
  padding: 15px;
  border-radius: 8px;
  color: #ffffff;
  margin-top: 2em;
}

.create .success {
  color: rgb(153, 79, 79);
  padding: 50px;
}
